:root {
  --vermelho: #E50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Elementos base */
body {
  background-color: var(--preto);
  color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 10px;
}

.logo {
  color: var(--vermelho);
  font-family: "Arial Black";
  font-size: 40px;
}

.menu {
  margin-left: 18px;
}

.menu a {
  color: #aaa;
  margin-right: 10px;
}

.menu a:hover {
  color: #fff;
}

/* Filme principal */
.filme_principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)100%), url("../img/capa-brooklyn.jpg");
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.filme_principal .descricao {
  margin-bottom: 40px;
}

.titulo {
  font-size: 40px;
}